body {
    margin: 0;
    text-align: center;
    font-family: sans-serif;
    padding: 20px
}

.graph {
    margin: 10px auto 40px auto;
    padding: 10px;
}


#legend {
    background-color: rgb(205, 239, 200);
    margin: 0 auto 0 auto;
}

#tooltip {
    position: absolute;
    text-align: center;
    background-color: lightgrey;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto;
    width: auto;
    pointer-events: none;
    visibility: hidden;
    font-size: 14px;
}
  

